<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.nodeclipse.debug.launch.LaunchConfigurationType">
<stringAttribute key="key_file_path" value="/eloquent-javascript/test/temp.js"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
</launchConfiguration>
